[submodule "components/esp32-smbus"]
	path = components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus.git
[submodule "components/esp32-i2c-lcd1602"]
	path = components/esp32-i2c-lcd1602
	url = https://github.com/DavidAntliff/esp32-i2c-lcd1602.git
