# Build and deploy doxygen documention to GitHub Pages
sudo: false
dist: trusty

# Blacklist
branches:
  only:
    - master

# Environment variables
env:
  global:
    - GH_REPO_REF: github.com/DavidAntliff/esp32-i2c-lcd1602.git

# Install dependencies
addons:
  apt:
    packages:
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz

# Build the docs
script:
  - cd doc
  - doxygen

# Deploy using Travis-CI/GitHub Pages integration support
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/doc/html
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  target_branch: gh-pages

